#Winner{
	-fx-font-size: 15px;
	-fx-text-fill: gold;
}

#WinnerIs{
	-fx-font-size: 20px;
	-fx-text-fill: red;
}

#WinsRound{
		-fx-text-fill: red;
}

.label {
    -fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
      -fx-alignment: center;
      -fx-text-fill: white;
      -fx-font-weight: bold;
       -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: white;
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-border-width: 2.0px;
}

.player {
    -fx-padding: 5.0px;
    -fx-border-color: white;
 	-fx-background-color: 
        #081122,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-border-width: 2.0px;
}

.card {
  -fx-font-size: 15px;
    -fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
    -fx-background-color: white;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
}
.button{
	-fx-background-color: 
        #081122,
        linear-gradient(#081122 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    
}
#background{
	-fx-background-color: 
        #081122,
        linear-gradient(#081122 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/01/18/590099/619adce9433c4e6aa2e5f96e2a2ae449-700.jpg");
}




